<html>

<head>
    <title>Haim Lab</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
            <%= csrf_meta_tags %>
            <%= favicon_link_tag '/images/icon.ico' %>
</head>

<body>
    <!-- Navigation -->

    <div class="borders">
        <div class="pictures">
            <img class="f_common f_1" src="/images/all_pictures.JPG"></img>

            <!--
    <div id="first">
      <div class="f_common f_2"><img id = "epitope" src="images\graph.png"></img></div>
      <div class="f_common f_2"><img src="images\formula_1.jpg"></img></div>
      </div>
      <div id="second">
       <div class="f_common f_2"><img src="images\apparatus.jpg"></img></div>
      <div class="f_common f_2"><img src="images\formula_2.jpg"></img></div>
    </div>
    <div id="third"> 

      <div class="f_common f_3"><img src="images\uiowa_logo.png"></img></div>
    </div> 

-->
        </div>
        <div class="pictures" style="background:#FFFFFF">
            <div id="site-title" style="font-size: 35px;padding-left: 10px;">
                <a href="https://medicine.uiowa.edu/microbiology/profile/hillel-haim/" rel="home">Hillel Haim Lab</a>

            </div>
            <div style="clear:none; float: right; font-size: 28px; padding-right: 10px">
                Principles of Virus <span style="color:#6495ED">Evolution</span> & <span style="color:#7FFF00">Transmission</span>
            </div>



        </div>
    </div>

    <div class=borders_1>

        <nav class="navbar navbar-inverse navbar-fixed-middle" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="index.html"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Research Areas</a>
                        </li>

                        <li>
                            <a href="/about">People</a>
                        </li>
                        <li>
                            <a href="/">Publications</a>
                        </li>
                        <li>
                            <a href="/">Tools</a>
                        </li>
                        <li>
                            <a href="/">Datasets</a>
                        </li>
                        <li>
                            <a href="/links">Useful Links</a>
                        </li>
                        <li>
                            <a href="/contact_us">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </div>
    
    <%= yield %>
    
    <!-- Footer -->
    <div class="page">
        <footer>
            <div id="site-generator">
                <a href="#/" title="Lab Information">@Copyright 2017 | Haim Lab</a>
            </div>
        </footer>
        <!-- /.row -->
        </footer>
        </div>
</body>

</html>  